spring:
  application:
    name: WareHouse2

  datasource:
    url: jdbc:postgresql://localhost:5432/warehouse_db
    username: postgres
    password: akbar_123456789
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    defer-datasource-initialization: true

  sql:
    init:
      mode: always